<div>
  <label class="labeling" *ngIf="isOnEditMode$ | async"> Edit Mode Label is ON </label>
  <div class="title">
    <h2> RxJs FUN UI State Stuff! ---> </h2>
    <div> {{value}} </div>
  </div>
  <app-rxjs-basics (calledValue)="onCalledValue($event)"></app-rxjs-basics>
  <div><app-rxjs-observable-use></app-rxjs-observable-use></div>
  <div>
    <button (click)="routeToSubject($event);">Navigate To: '/subjects'</button>
    <button routerLink='/'>BACK</button>
  </div>
</div>
<router-outlet></router-outlet>

